## Quiz
3학년 6반에 오전, 오후 시간표에 나눠서 시험을 쳤다.

1. 오전 성적표

|학생|국어|수학|
|----|----|----|
|영희|100|30|
|철수|40|20|
|동엽|60|70|
|유주|80|90|
|은지|100|0|

2. 오후 성적표

|학생|미술|체육|영어|
|----|----|----|----|
|영희|40|70|20|
|동엽|30|0|10|
|은지|50|100|100|

#### 문제 1.
3-6반의 전체 학생의 성적표를 출력하라. 단, 점수가 없는 학생들은 0점 처리한다.

#### 문제 2.
"은지" 학부모가 성적표를 보내달라고 한다. "은지" 학생의 과목별 성적표를 출력하라.

#### 문제 3.
3학년 6반의 각 과목마다 평균을 구하라

In [3]:
import pandas as pd
from pandas import Series, DataFrame

In [5]:
dframe1 = DataFrame([[100, 30], [40, 20], [60, 70], [80, 90], [100, 0]], 
                    columns = ['국어', '수학'], index = ['영희', '철수', '동엽', '유주', '은지'])
dframe1

     국어  수학
영희  100  30
철수   40  20
동엽   60  70
유주   80  90
은지  100   0

In [6]:
dframe2 = DataFrame([[40, 70, 20], [30, 0, 10], [50, 100, 100]],
                     columns = ['미술', '체육', '영어'], index = ['영희', '동엽', '은지'])
dframe2

    미술   체육   영어
영희  40   70   20
동엽  30    0   10
은지  50  100  100

In [12]:
## 문제 1.
dframe3 = dframe1.add(dframe2, fill_value = 0).fillna(value = 0)
dframe3

     국어  미술  수학   영어   체육
동엽   60  30  70   10    0
영희  100  40  30   20   70
유주   80   0  90    0    0
은지  100  50   0  100  100
철수   40   0  20    0    0

In [14]:
## 문제 2.
dframe3.ix['은지']

국어    100
미술     50
수학      0
영어    100
체육    100
Name: 은지, dtype: float64

In [15]:
## 문제 3.
dframe3.mean()

국어    76
미술    24
수학    42
영어    26
체육    34
dtype: float64