In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
dframe1 = DataFrame(np.arange(8).reshape(2,4), index=pd.Index(['LA', 'SF'], name='city'), 
                    columns=pd.Index(['A','B','C','D']
                                     , name='letter'))

In [4]:
dframe1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [5]:
dframe_st=dframe1.stack()

In [6]:
dframe_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [7]:
dframe_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [8]:
dframe_st.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [9]:
dframe_st.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [10]:
ser1 = Series([0,1,2], index=['Q', 'X', 'Y'])
ser2 = Series([4,5,6], index=['X', 'Y', 'Z'])

In [11]:
ser1

Q    0
X    1
Y    2
dtype: int64

In [13]:
ser2

X    4
Y    5
Z    6
dtype: int64

In [14]:
dframe = pd.concat([ser1,ser2], keys=['Alpha', 'Beta'])
dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [15]:
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [16]:
dframe.unstack().stack()

Alpha  Q    0.0
       X    1.0
       Y    2.0
Beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64

In [17]:
dframe = dframe.unstack()

In [18]:
dframe

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [19]:
dframe.stack()

Alpha  Q    0.0
       X    1.0
       Y    2.0
Beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64

In [20]:
dframe.stack(dropna=False)

Alpha  Q    0.0
       X    1.0
       Y    2.0
       Z    NaN
Beta   Q    NaN
       X    4.0
       Y    5.0
       Z    6.0
dtype: float64