In [1]:
import numpy as np

In [2]:
import pandas as pd
from pandas import DataFrame, Series

In [3]:
dframe=DataFrame({'k1':['x','x','y','y','z'],
                 'k2':['alpha','beta','alpha','beta','alpha'],
                 'dataset1':np.random.randn(5),
                 'dataset2':np.random.randn(5)})

In [4]:
dframe

   dataset1  dataset2 k1     k2
0  0.853239 -0.479993  x  alpha
1  0.560714 -0.281579  x   beta
2 -0.435909  0.831235  y  alpha
3  0.584490 -0.707617  y   beta
4 -2.399965 -0.088894  z  alpha

In [5]:
group1=dframe['dataset1'].groupby(dframe['k1'])

In [6]:
group1

In [7]:
group1.mean()

k1
x    0.706976
y    0.074291
z   -2.399965
Name: dataset1, dtype: float64

In [8]:
cities=np.array(['NY','LA','LA','NY','NY'])

In [9]:
month=np.array(['JAN','FEB','JAN','FEB','JAN'])

In [10]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    0.560714
    JAN   -0.435909
NY  FEB    0.584490
    JAN   -0.773363
Name: dataset1, dtype: float64

In [11]:
dframe

   dataset1  dataset2 k1     k2
0  0.853239 -0.479993  x  alpha
1  0.560714 -0.281579  x   beta
2 -0.435909  0.831235  y  alpha
3  0.584490 -0.707617  y   beta
4 -2.399965 -0.088894  z  alpha

In [12]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
x   0.706976 -0.380786
y   0.074291  0.061809
z  -2.399965 -0.088894

In [13]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
x  alpha  0.853239 -0.479993
   beta   0.560714 -0.281579
y  alpha -0.435909  0.831235
   beta   0.584490 -0.707617
z  alpha -2.399965 -0.088894

In [14]:
dframe.groupby(['k1']).size()

k1
x    2
y    2
z    1
dtype: int64

In [17]:
for name,group in dframe.groupby('k1'):
    print ("This is the %s group" %name)
    print (group)
    print ('\n')

This is the x group
   dataset1  dataset2 k1     k2
0  0.853239 -0.479993  x  alpha
1  0.560714 -0.281579  x   beta


This is the y group
   dataset1  dataset2 k1     k2
2 -0.435909  0.831235  y  alpha
3  0.584490 -0.707617  y   beta


This is the z group
   dataset1  dataset2 k1     k2
4 -2.399965 -0.088894  z  alpha

In [18]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print ("key1 = %s key2 %s" %(k1,k2))
    print (group)
    print ('\n')

key1 = x key2 alpha
   dataset1  dataset2 k1     k2
0  0.853239 -0.479993  x  alpha


key1 = x key2 beta
   dataset1  dataset2 k1    k2
1  0.560714 -0.281579  x  beta


key1 = y key2 alpha
   dataset1  dataset2 k1     k2
2 -0.435909  0.831235  y  alpha


key1 = y key2 beta
   dataset1  dataset2 k1    k2
3   0.58449 -0.707617  y  beta


key1 = z key2 alpha
   dataset1  dataset2 k1     k2
4 -2.399965 -0.088894  z  alpha

In [19]:
group_dict = dict(list(dframe.groupby('k1')))

In [21]:
group_dict['x']

   dataset1  dataset2 k1     k2
0  0.853239 -0.479993  x  alpha
1  0.560714 -0.281579  x   beta

In [22]:
dframe.groupby('k1')

In [23]:
type(dframe.groupby('k1'))

pandas.core.groupby.DataFrameGroupBy

In [24]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes, axis=1)))

In [25]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  0.853239 -0.479993
 1  0.560714 -0.281579
 2 -0.435909  0.831235
 3  0.584490 -0.707617
 4 -2.399965 -0.088894, dtype('O'):   k1     k2
 0  x  alpha
 1  x   beta
 2  y  alpha
 3  y   beta
 4  z  alpha}

In [26]:
dataset2_group=dframe.groupby(['k1','k2'])[['dataset2']]
dataset2_group

In [27]:
dataset2_group.mean()

          dataset2
k1 k2
x  alpha -0.479993
   beta  -0.281579
y  alpha  0.831235
   beta  -0.707617
z  alpha -0.088894