In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [12]:
import pandas.util.testing as tm; tm.N=3

In [6]:
def unpivot(frame):
    N, K= frame.shape
    data = {'value' : frame.values.ravel('F'),
           'variable' : np.asarray(frame.columns).repeat(N),
           'date' : np.tile(np.asarray(frame.index),K)}
    return DataFrame(data, columns=['date', 'variable', 'value'])

In [7]:
dframe = unpivot(tm.makeTimeDataFrame())

In [8]:
dframe

         date variable     value
0  2000-01-03        A  0.390735
1  2000-01-04        A -1.315358
2  2000-01-05        A  0.170776
3  2000-01-03        B  1.007083
4  2000-01-04        B -1.461326
5  2000-01-05        B -0.079426
6  2000-01-03        C -0.264737
7  2000-01-04        C  0.195052
8  2000-01-05        C  0.664044
9  2000-01-03        D  0.547052
10 2000-01-04        D -0.117170
11 2000-01-05        D  0.315105

In [13]:
tm.makeTimeDataFrame()

                   A         B         C         D
2000-01-03 -1.351288 -0.602596 -0.118867 -0.540005
2000-01-04 -0.526520  0.813423  0.121377 -1.596587
2000-01-05  0.340631 -0.153830  0.375943  0.981746

In [14]:
dframe_piv = dframe.pivot('date', 'variable', 'value')

In [15]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.390735  1.007083 -0.264737  0.547052
2000-01-04 -1.315358 -1.461326  0.195052 -0.117170
2000-01-05  0.170776 -0.079426  0.664044  0.315105